@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #131313;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  height: 100%;
}
nav > ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 0;
}
nav > ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: large;
}
main {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #202020;
  position: fixed;
}
nav > ul > li > a > img {
  height: 25px;
  /* filter: invert(1); */
}
.centerAlign {
  text-align: center;
}
.BottomAlign {
  margin-bottom: 0;
}
.TopAlign {
  margin-top: 0;
}

a {
  all: unset;
}

.castoro-regular {
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: "Hahmlet-Regular", serif;
  color: white;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.madangbird0326 {
  font-weight: 500 !important;
  color: #e94a4a !important;
  font-size: 20px;
}

.Ps_or_Sub_Description {
  font-size: 13px !important;
  color: #ffffffd1;
  text-decoration: line-through;
}
.MADANG_JEONGBYEON {
  font-family: "Castoro";
  font-size: 45px;
  padding: 8rem !important;
  letter-spacing: 6px;
}

.Sub_Title {
  font-size: 18px !important;
}
#targetElement {
  margin: 1px 0 0 0;
  padding: 50px !important;
}
body > main > div > hr {
  margin-top: -1.3rem;
}

.btn {
  font-size: 12px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: sans-serif;
  transition: all 0.4s;
  margin-top: 22px;
  margin-left: 10px;
  position: relative;
}

.btn:hover {
  background-color: #202020;
  border: 1px solid #424242;
  color: #424242;
}

.scripts {
  margin-top: 5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  z-index: -1;
  opacity: 60%;
  margin-bottom: 3rem;
}
